/* ./src/index.css */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500,500italic,400italic,300italic,100italic,700italic);

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "roboto", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}